  
    <div id="game-ui">
      <div class="wrapper">
        <!-- <div class="header1">Flood Level</div> -->
        <div class="header2">
          <div class="captured-treasures">
            <div class="treasure"></div>
            <div class="treasure"></div>
            <div class="treasure"></div>
            <div class="treasure"></div>
          </div>

          <div class="">
            Flood Level
          </div>
          <div class="current-player-image-wrapper">
            Current Player
          </div>
        </div>
  
  
  
  
  
        <div class="small-box-1">
          <div class="sidebar-item-1 d-flex justify-content-between">
            <div>
              Flood Discard
            </div>
  
            <div>
              Flood New
            </div>
          </div>
          <div class="sidebar-item-2 d-flex justify-content-between">
            <div>
              Action Discard
            </div>
  
            <div>
              Action New
            </div>
          </div>
        </div>
  
        <div class="small-box-2">
          <div class="sidebar-item-1">Player 1 Cards</div>
          <div class="sidebar-item-2">Player 2 Cards</div>
          <div class="sidebar-item-3">Player 3 Cards</div>
          <div class="sidebar-item-4">Player 4 Cards</div>
        </div>
        <div class="main-content"></div>
        <div class="footer">Footer</div>
      </div>
      
    </div>