
{{ define "header" }}
<a href="#main-page-content-area" class="sr-only">Skip to main content</a>




<div class="main-navigation">
  <!-- <div class="header-banner d-none">
    <div class="site-container-1340">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto">
          <img src="/images/assets/banner/MandatedReporterTraining-ElderDependentAdultAbuse-icon-banner.svg" alt="MandatedReporterTraining ElderDependentAdultAbuse icon banner">
        </div>
        <div class="col-auto">
          <p class="h3-heading white-text mb-0 text-center">Now Offering Elder/Dependent Adult Abuse Training</p>
        </div>
        <div class="col-auto">
          <a href="/start-now/" class="btn-white btn-size-lg">Take Training</a>
        </div>
      </div>
    </div>
  
    <div class="remove-header-banner-pos">
      <button id="remove-header-banner">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
  </div> -->

  <!-- <nav class="d-flex  d-xl-none w-100">
    <div class="site-container-1340">
      <div class="row justify-content-between align-items-center mobile-nav-row d-xl-none">
        <div class="col-auto">
          <a href="/" class="header-logo">
            <img src="/images/assets/brand/MandatedReporterTraining-logo.svg" alt="A stylized M in green and blue next to the text 'Mandated Reporter Training.'">
            <p class="sr-only">Mandated Reporter Training</p>
          </a>
          </div>

          <div class="col-auto d-flex align-items-center">
            <i class="far fa-times nav-btn-close d-none" aria-hidden="true" id="close-mobile-menu-btn"></i>
            <i class="fas fa-bars nav-menu-toggle-btn nav-btn-open" aria-hidden="true" id="open-mobile-menu-btn"></i>
          </div>
        </div>
      </div>
    </nav> -->
<!-- 
    <nav class="d-none d-xl-block w-100">
      <div class="main-nav-bottom-row ">
        <div class="site-container-1340">
          <div class="row">
            <div class="col">
              <a href="/" class="header-logo">
                <img src="/images/assets/brand/MandatedReporterTraining-logo.svg" alt="A stylized M in green and blue next to the text 'Mandated Reporter Training.'">
                <p class="sr-only">Mandated Reporter Training</p>
              </a>
            </div>
            <div class="col-auto">
              <ul class="ul-reset d-flex justify-content-end align-items-center h-100">

                <li class="nav-menu-item dropdown">
                  <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Solutions
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/solution/for-individuals/">For Individuals</a></li>
                    <li><a class="dropdown-item" href="/solution/for-organizations/">For Organizations</a></li>
                    <li><a class="dropdown-item" href="/solution/for-government/">For Government</a></li>
                  </ul>
                </li>


                <li class="nav-menu-item dropdown">
                  <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Courses
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/courses/course-catalog">Course Catalog</a></li>
                    <li><a class="dropdown-item" href="/courses/find-your-state">Find Your State</a></li>
                  </ul>
                </li>

                <li class="nav-menu-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Resources
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/resources/who-is-a-mandated-reporter">Who Is a Mandated Reporter</a></li>
                    <li><a class="dropdown-item" href="/resources/how-to-report">How to Report</a></li>
                    <li><a class="dropdown-item" href="/resources/laws-and-regulations">Laws & Regulations</a></li>
                    <li><a class="dropdown-item" href="/resources/state-resources">State Resources</a></li>
                    <li><a class="dropdown-item" href="/resources/sources-and-citations">Sources & Citations</a></li>
                    <li><a class="dropdown-item" href="/resources/blog">Blog</a></li>
                    <li><a class="dropdown-item" href="/resources/faq">FAQ</a></li>           

                  </ul>
                </li>

                <li class="nav-menu-item dropdown">
                  <a class="nav-link" href="https://mandatedreportertraining.zendesk.com/hc/en-us" target="_blank" >
                    Get Help
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-auto">
              <a href="https://account.mandatedreportertraining.com/authentication/login"  class="btn-light btn-size-sm">Login</a>
            </div>
            <div class="col-auto">
              <a href="/start-now" class="btn-primary btn-size-sm">Start Now</a>
            </div>
          </div>
        </div>
      </div>

      <a href="#page-main-content" class="sr-only">Skip to main content</a>
    </nav> -->
  </div>

{{ $current := . }}

<!-- <div id="mobile-nav" class="mobile-nav">
  <div class="container  pb-5">
    <div class="row">
      <div class="col-12 align-items-center justify-content-center px-0">
        <ul class="ul-reset mobile-ul mobile-nav-products-title">
          <li class="mobile-nav-menu-item">
            <a class="d-flex justify-content-between submenu-link w-100 py-3 align-items-center mobile-menu-solutions-link" role="button">
              <div class="d-flex align-items-center">
                <span class="mobile-nav-menu-page">
                  Solutions
                </span>
              </div>
              <span class="mobile-nav-triangle ">
                <i class="fas fa-chevron-right" aria-hidden="true"></i>
              </span>
            </a>
        </li>

          <li class="mobile-nav-menu-item">
              <a class="d-flex justify-content-between submenu-link w-100 py-3 align-items-center mobile-menu-courses-link" role="button">
                <div class="d-flex align-items-center">
                  <span class="mobile-nav-menu-page">
                    Courses
                  </span>
                </div>
                <span class="mobile-nav-triangle ">
                  <i class="fas fa-chevron-right" aria-hidden="true"></i>
                </span>
              </a>
          </li>

          <li class="mobile-nav-menu-item">
            <a  class="d-flex justify-content-between submenu-link w-100 py-3 align-items-center mobile-menu-resources-link" role="button">
              <div class="d-flex align-items-center">
                <span class="mobile-nav-menu-page">
                  Resources
                </span>
              </div>
              <span class="mobile-nav-triangle ">
                <i class="fas fa-chevron-right" aria-hidden="true"></i>
              </span>
            </a>
          </li>

          <li class="mobile-nav-menu-item">
            <a class="d-flex justify-content-between submenu-link w-100 py-3 align-items-center" href="https://mandatedreportertraining.zendesk.com/hc/en-us" target="_blank">
              <div class="d-flex align-items-center">
                <span class="mobile-nav-menu-page">
                  Get Help
                </span>
              </div>
              <span class="mobile-nav-triangle d-none">
                <i class="fas fa-chevron-right" aria-hidden="true"></i>
              </span>
            </a>
          </li>

          <li class="mobile-nav-menu-item menu-border-bottom ">
            <a href="https://account.mandatedreportertraining.com/authentication/login" target="_blank" class="d-flex justify-content-between submenu-link w-100 py-3 align-items-center" role="button">
              <div class="d-flex align-items-center">
                <span class="mobile-nav-menu-page">
                  Login
                </span>
              </div>
              <span class="mobile-nav-triangle hidden d-none">
                <i class="fas fa-chevron-right" aria-hidden="true"></i>
              </span>
            </a>
          </li>

          <li style="padding: 0 20px;">
              <div class="py-3">
                  <a href="/start-now/" class="btn-primary btn-size-lg">Start Now</a>
              </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->

<!-- <div id="mobile-solutions-nav" class="mobile-solutions-nav">
  <div class="container  pb-5">
    <div class="row">
      <div class="col-12 align-items-center justify-content-center px-0">
        <div style="padding: 0 20px;">
          <button id="remove-solutions-mobile-nav" class="remove-menu-btn">
            <i class="far fa-chevron-left"></i> Back
          </button>

          <h2 class="secondary-text pt-4">Solutions</h2>
        </div>

        <ul class="ul-reset mobile-ul mobile-nav-products-title">
          <li class="mobile-nav-menu-item-inner">
              <a href="/solution/for-individuals/" class="d-flex justify-content-between submenu-link w-100 py-3 align-items-center" role="button">
                <div class="d-flex align-items-center">
                  <span class="mobile-nav-menu-page">
                    For Individuals
                  </span>
                </div>
                <span class="mobile-nav-triangle  hidden d-none">
                  <i class="fas fa-chevron-right" aria-hidden="true"></i>
                </span>
              </a>
          </li>

          <li class="mobile-nav-menu-item-inner">
            <a href="/solution/for-organizations/" class="d-flex justify-content-between submenu-link w-100 py-3 align-items-center" role="button">
              <div class="d-flex align-items-center">
                <span class="mobile-nav-menu-page">
                  For Orgaizations
                </span>
              </div>
              <span class="mobile-nav-triangle  hidden d-none">
                <i class="fas fa-chevron-right" aria-hidden="true"></i>
              </span>
            </a>
        </li>

          <li class="mobile-nav-menu-item-inner">
            <a href="/solution/for-government/" class="d-flex justify-content-between submenu-link w-100 py-3 align-items-center" role="button">
              <div class="d-flex align-items-center">
                <span class="mobile-nav-menu-page">
                  For Government
                </span>
              </div>
              <span class="mobile-nav-triangle hidden d-none">
                <i class="fas fa-chevron-right" aria-hidden="true"></i>
              </span>
            </a>
            </li>
          </ul>
            
            <ul class="ul-reset mobile-ul ">
            <li style="padding: 0 20px;">
              <div class="py-3">
                <a href="/start-now/" class="btn-primary btn-size-lg">Start Now</a>
              </div>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->











{{ end }}



