html {
  height: 100%;
  width: 100%;
}


.board {
  display: grid;
  grid-template-columns: repeat(6, 50px);
  grid-template-rows: repeat(6, 50px);
  gap: 5px;
}

.tile {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.blocked {
  visibility: hidden;
}

.flooded {
  background-color: lightblue;
}

.sunk {
  background-color: darkblue;
}


.normal img {
  obect-fit: cover;
  width: 100%;
}
