<div id="statingModal">
    <div class="modal-backdrop">
      <div class="modal-body">
    
        <div class="modal-inner">
  
          <div class="modal-exit">
            <button class="exit-modal-btn"> 
              Close
            </button>
          </div>
          
          <form id="StartGame-Form">
            <div>
              <label for="">Set Difficulty</label>
              <input type="range" min="1" max="4" value="1" name="difficulty" id="difficultySlider" >
            </div>
      
            <div>
              <label for="">Set Amount of Players</label>
              <input type="number" min="1" max="4" value="1" name="numberOfPlayers" id="numberOfPlayersSlider" >
            </div>
      
            <div class="py-5 text-center">
              <button class="btn-primary btn-size-lg" type="submit">
                Play
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> 