<div class="active" id="joinRoomModal">
  <div>
    <img src="/assets/images/chat-screen-hero.jpg" alt="">
  </div>
  <div class="joinRoomModal-content">
    <div >
      <ul id="ChatContentArea"></ul>
    </div>
    
    <div>
      <form action="" name="form" id="form">

        <div>
          <div>
            <input type="text" id="gameRoomMessageInput">
          </div>
          <div>
            <button id="sendGameRoomMessage" type="button">Send</button>
          </div>
        </div>

      <!-- <div>
        <div>
          <label for="areYouReady">Are you Ready to start the game?</label>
          <select name="is-player-ready" id="areYouReady">
            <option value="no">No</option>
            <option value="yes">Yes</option>
          </select>
        </div>
      </div> -->

      </form>
    </div>



  </div>
</div>