<div class="active" id="joinRoomModal">
  <div>
    <img src="/assets/images/forbidden-island-logo.png" alt="">
  </div>
  <div class="joinRoomModal-content">
    <div class="ChatContentArea-wrapper">
      <ul id="ChatContentArea"></ul>
    </div>
    
    <div class="form-wrapper">
      <form action="" name="form" id="form">

        <div class="d-flex">
            <input type="text" id="gameRoomMessageInput">
            <button id="sendGameRoomMessage" type="button">Send</button>
          </div>
          <div class="text-center">
            <p class="error">Error: Text must be present</p>
          </div>


        <div class="text-center mt-4">
          <div>
            <label for="areYouReady">Are you Ready to start the game?</label><br>
            <select name="is-player-ready" id="areYouReady">
              <option value="no">No</option>
              <option value="yes">Yes</option>
            </select>
          </div>
        </div>

      </form>
    </div>



  </div>


</div>