<div class="backdrop">
    <div class="modal-main">
        <div class="modal-body">
            <div class="text-center">
                <h2>Player Action</h2>
                <h6>Unflood or Move To</h6>
            </div>
            <div class="d-flex justify-content-center gap-4 mt-4">
                <button id="unfloodClickedTile" class="btn-primary btn-size-lg">Unflood</button>
                <button id="movePlayerToClickedTile"  class="btn-primary btn-size-lg">Move</button>
            </div>
        </div>
    </div>
</div>