// Functions first
// Import Bootstrap SCSS
@import '../../../node_modules/bootstrap/scss/bootstrap';



// Variable overrides second
@import "variables";
@import "utilities";



// Required Bootstrap imports
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/root";

// Optional components
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/containers";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/helpers";
@import "../../../node_modules/bootstrap/scss/utilities/api";


html {
    height: 100%;
    width: 100%;
  }



  #game-ui{
    .wrapper {
      display: grid;
      grid-template-columns: .5fr .3fr .35fr .55fr; /* Three columns: main, and two smaller ones */
      grid-template-rows: 15vh 1fr; /* Header row and main row */
      grid-template-areas:
        "main-content main-content header2 header2"
        "main-content main-content small-box-1 small-box-2"
        "main-content main-content sidebar-item-1 sidebar-item-1"
        "main-content main-content sidebar-item-2 sidebar-item-2"
        "main-content main-content sidebar-item-3 sidebar-item-3"
        "footer footer footer footer";
      gap: 10px; /* Optional spacing between grid items */
      height: 100vh; /* Full viewport height */
    }
    
    /* Assigning grid areas to each section */
    .header1 {
      grid-area: header1;
      background: lightgray;
    }
    
    .header2 {
      grid-area: header2;
      background: lightgray;
      display: flex;
      justify-content: space-between;
    
      .captured-treasures {
        border: 1px solid black;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px; /* Adjust spacing between items as needed */
        padding: 1px;
        width: 100%;
        max-width: 250px;
    
        .treasure {
          width: 25px;
          height: 25px;
          background-color: green;
        }
      }
    
      .current-player-image-wrapper {
        aspect-ratio:  1 / 1;
        border: 1px solid black;
      }
    }
    
    .footer {
      grid-area: footer;
      background: lightgray;
    }
    
    .small-box-1 {
      grid-area: small-box-1;
      background: lightpink;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-around;
    }
    
    .small-box-2 {
      grid-area: small-box-2;
      background: lightblue;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-around;
    }
    
    .main-content {
      grid-area: main-content;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .sidebar-item-1 {
      grid-area: sidebar-item-1;
      background: lightcoral;
      flex-grow: 1;
    }
    
    .sidebar-item-2 {
      grid-area: sidebar-item-2;
      background: lightgoldenrodyellow;
      flex-grow: 1;
    }
    
    .sidebar-item-3 {
      grid-area: sidebar-item-3;
      background: lightseagreen;
      flex-grow: 1;
    }
    
    .sidebar-item-4 {
      grid-area: sidebar-item-3;
      background: rgb(136, 76, 135);
      flex-grow: 1;
    }
    
  }
  
  
  #board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    padding: 4vh;
    max-width: 1200px; // Optional: Limit board width
    margin: auto; // Center the board
    background-color: #e0e0e0; // Background color for the board
    border-radius: 8px; // Optional: Rounded corners
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); // Optional: Shadow effect

    .row {
      display: contents;
      --bs-gutter-x: 0 !important;
      --bs-gutter-y: 0 !important;
    }
  
    @media (max-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
  
    @media (max-width: 800px) {
      grid-template-columns: repeat(3, 1fr);
    }
  
    @media (max-width: 500px) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @media (max-width: 300px) {
      grid-template-columns: 1fr;
    }
  }
  


  
  .tile {
    position: relative;
    aspect-ratio: 1 / 1; // Ensures the tiles are square
    overflow: hidden; // Ensures images are contained within the tile
    border: 2px solid #ccc; // Add a border for visibility
    border-radius: 8px; // Optional: rounded corners
    transition: transform 0.3s; // Optional: hover effect
  
    &:hover {
      transform: scale(1.05); // Slightly enlarge the tile on hover
    }
  
    &.blocked {
      background-color: #444; // Color for blocked tiles
      visibility: hidden;
    }
  
    &.flooded {
      background-color: rgba(0, 0, 255, 0.5); // Semi-transparent blue for flooded tiles
      cursor: pointer;
    }
  
    &.normal {
      background-color: #fff; // Color for normal tiles
      cursor: pointer;
    }

    &.sunk {
      background-color: darkblue;
      visibility: hidden;
      cursor: none;
    }
  
    img {
      width: 100%; // Image takes the full width of the tile
      height: 100%; // Image takes the full height of the tile
      object-fit: cover; // Ensures the image covers the tile
    }
  }
  

  .btn-primary {
    transition: 0.5s !important;
    cursor: pointer !important;
    background-color: #000033 !important;
    font-weight: 600 !important;
    border-radius: 10px !important;
    border: 2px solid #000033 !important;
    color: #ffffff !important;
    line-height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-transform: capitalize;
    text-decoration: none !important;
}
.btn-size-lg {
    padding: 12px 30px;
    border-radius: 10px;
    font-size: calc(1rem * 1.111) !important;
    line-height: calc(24px * 1.166) !important;
}
  
  // #moveOrActionModal,
  // #statingModal {

  //   .modal-backdrop {
  //     background-color: transparentize($color: #000000, $amount: .7);
      
  //     .modal-body {
  //       display: flex;
  //       align-items: center;
  //       height: 100%;
  //       justify-content: center;
  //     }

  //     .modal-inner {
  //       width: 100%;
  //       max-width: 300px;
  //       background-color: greenyellow;
  //       padding: 1.25rem;
  //     }

  //     .modal-exit {
  //       display: flex;
  //       justify-content: flex-end;

  //       button {
  //         background-color: transparent;
  //         border: 0;
  //         box-shadow: none;
  //       }
  //     }

  //   }
  // }


  
  .player-piece {
    position: absolute;
    top: 15%;
    left: 20%;
    height: unset !important;
    z-index: 10;
    width: 25px !important;
    box-shadow: 0 8px 3px 0px #000000b5;
    border-radius: 35%;
  }

  .player-active-Diver {
    border: 5px solid #000000;
  }
  .player-active-Pilot {
    border: 5px solid #0000ff;
  }
  .player-active-Messenger {
    border: 5px solid #c0c0c0;
  }
  .player-active-Explorer {
    border: 5px solid #008000;
  }
  .player-active-Engineer {
    border: 5px solid #ff0000;
  }
  .player-active-Navigator {
    border: 5px solid #ffff00;
  }
  
.startingModal-wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #11121a;
}

#startingModal {
  position: relative;
  background-image: url("/assets/images/intro-screen-s.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }
  
  @media(min-width: 768px) {
    background-image: url("/assets/images/intro-screen.webp");
    position: fixed;
    top: 25%;
    left: 0;
    right: 0;
    bottom: 0;

    height: 365px;
    width: 100%;
    
  }

  button {
    position: absolute;
    bottom: 37%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    padding: 10px 25px;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 10px;
    transition: 0.3s;

    background-color: $white;
    border: 2px solid $mid;
    color: $black;

    &:hover,
    &:active{
      border: 2px solid $white;
      background-color: #11121a;
      color: $white;
    }

    @media(min-width: 768px) {
      bottom: 27%;
      
    }
  }
}

#joinRoomModal {
  background-color: #11121a;
  padding: 24px;
  padding-top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  .header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;

    .header-logo {
      width: 100%;
      max-width: 125px;
      padding: 10px 0;
    }

  }

  .userimage {
    width: 100%;
    max-width: 65px;
    padding: 10px 0;
  }
  
  .ChatContentArea-wrapper {
    position: relative;
    height: 60vh;
    overflow-y: scroll;

    .userName {
      display: flex;
      justify-content: flex-end;
      padding: 1rem;

      .name {
        font-weight: 600;
        padding-left: 4px;
      }
    }

    #ChatContentArea {
      padding: 0;
      margin: 0;
    
    
    
      li{
        list-style: none;
      }
    }
  }

  .joinRoomModal-content{
    background: $white;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;

    .form-wrapper {
      padding: 1rem;
      background-color: transparentize($color: #11121a, $amount: .7);
    }

    input {
      width: 100%;
      height: 45px;
      border-radius: 10px;
      border: 2px solid $mid;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }

    .error {
      color: red;
      visibility: hidden;
      
      &.active {
        visibility: visible;
      }
    }

    select {
      width: auto;
      height: 35px;
      border-radius: 10px;
      border: 2px solid $mid;
    }

    button {
      height: 45px;
      padding: 0 25px;
      font-size: 1.25rem;
      font-weight: 700;
      border-radius: 10px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      transition: 0.3s;
  
      background-color: $white;
      border: 2px solid $mid;
      color: $black;
  
      &:hover,
      &:active{
        border: 2px solid $white;
        background-color: #11121a;
        color: $white;
      }
  
  
    }

    
  }

  .form-wrapper {
    height: calc(30vh - 25px);
  }
}

#inputNameModal {
  background-color: transparentize($color: #000000, $amount: .7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-body {
    background: $white;
    width: 100%;
    max-width: 500px;
    padding: 1rem;

    .button-wrapper {
      display: flex;
      justify-content: flex-end;

      button {
        background-color: transparent;
        border: 0;
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 600;
        color: $black;
        
        i, svg {
          font-size: 1.25rem;
          padding-left: 4px;
        }

        &:hover,
        &:active{
          color: $blue;
        }
      }
    }

    .form-group {
      display: flex;
      flex-direction: column;

      label {
        font-weight: 600;
        font-size: 1.25rem;
      }

      input {
        border-radius: 10px;
        height: 45px;
        border: 2px solid $mid; 
      }
    }
  }
}

.toast {
  display: flex !important;
  position: absolute;
  top: 1rem;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  left: 0;
  right: 0;
  align-items: center;
  padding: 12px 24px;
  
  &.success {
    background: transparentize($color: greenyellow, $amount: .3);

  }
}