@import "variables";

.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.bold {
    font-weight: 700 !important;
}

.btn-primary {
    transition: 0.5s !important;
    cursor: pointer !important;
    background-color: #000033 !important;
    font-weight: 600 !important;
    border-radius: 10px !important;
    border: 2px solid #000033 !important;
    color: #ffffff !important;
    line-height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-transform: capitalize;
    text-decoration: none !important;
}

.btn-size-lg {
    padding: 12px 30px;
    border-radius: 10px;
    font-size: calc(1rem * 1.111) !important;
    line-height: calc(24px * 1.166) !important;
}

.overflow-hidden {
    overflow: hidden !important;
}
