// $deepBlue: #000033; //DeepBlue
// $green: #29b494; //Green


// $light: #F4F4F4;
// $lightWhite: #f4fafc; //lightwhite
// $lightTan: #e7f6f3; //lgithgreen
$white: #ffffff; //White
$mid: #C1C1C1; //mid grey
// $mid-black: #808080; //mid grey
$black: #171717; //black

// $font-size: 1rem;
// $line-height: 24px;

// $font-weight-300: 300;
// $font-weight-400: 400;
// $font-weight-500: 500;
// $font-weight-600: 600;
// $font-weight-700: 700;

// $btn-padding-size: 30px;
// $transition-speed: .5s;
// $gutter-size: 15px;
