<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
    {{ partial "head.html" . }}
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WR8WPDJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div id="main-container">
      {{ block "header" . }}
      {{ end }}
      <main>
        {{ block "main" . }}
        {{ end }}
        <div class="board" id="board"></div>
      </main>


    {{ partial "footer.html" . }}
    {{ partial "foot.html" . }}


    <!-- Import your JavaScript files here -->
    <!-- <script type="module" src="/src/js/forbiddenisland.js"></script>
    <script type="module" src="/src/js/game.js"></script>
    <script type="module" src="/src/js/lookups.js"></script> -->
  </div>
</body>
</html>
