<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    {{ block "title" . }}
      {{ with .Params.Title }} {{ . }}{{ end }}
      {{ .Site.Title }}
    {{ end }}
  </title>
  
  <!-- metatags -->
  {{ partial "seo_schema" . }}
  
  <!-- link -->
  <link rel="apple-touch-icon" href="{{ "applehug-touch-icon.png" | relURL }}" sizes="180x180">
  <link rel="icon" href="{{ "favicon-32x32.png" | relURL }} " sizes="32x32" type="image/png">
  <link rel="icon" href="{{ "favicon-16x16.png" | relURL }}" sizes="16x16" type="image/png">
  <link rel="mask-icon" href="{{ "safari-pinned-tab.svg" | relURL }}">
  <link rel="icon" href="{{ "favicon.ico" | relURL }}">
  <meta name="msapplication-TileColor" content="#b88856">
  <meta name="theme-color" content="#ffffff">
  
  <script>
    function loadCSS(url) {
      var link = document.createElement('link');
      link.rel = 'stylesheet';
      link.href = url;
      document.head.appendChild(link);
    }
    loadCSS('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css');
  </script>
  
  {{ range .Params.css }}
    <link rel="stylesheet" href="{{ "src/css/" | relURL }}{{ . }}">
  {{ end }}
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
  
  <link rel="canonical" href="{{ .Permalink }}">
  {{- with .OutputFormats.Get "RSS" }}
  <link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}">
  <link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}">
  {{- end -}}
  
  <!-- script -->
  
  <!-- <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
    var item = localStorage.getItem('mrt-headerBanner');
    if (!item) {
      document.getElementsByClassName("header-banner")[0].classList.remove("d-none");
      document.getElementsByTagName("main")[0].style.marginTop = "100px";
    }
  });
  
  </script> -->
  
  <!-- script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  

  
  
  <script src="https://kit.fontawesome.com/902c9ed551.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/src/css/site.css">
  <link rel="stylesheet" href="/src/css/inner.css">
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WR8WPDJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div id="main-container">
      {{ block "header" . }}
      {{ end }}
      <main>
        <section id="inner-basic-header">
          <div class="site-container-992">
            <div class="row justify-content-center">
              <div class="col-12 text-center">
                <h1 class="primary-text">Page Cannot Be Found</h1>
              </div>
              <div class="col-12 text-center">
                <p>Sorry, the page you are looking for cannot be found and might have been removed, had its name changed, or is temporarily unavailable. It is recommended that you start again from the homepage. Feel free to contact us if the problem persists or if you cannot find what you&rsquo;re looking for.<br />&nbsp;</p>
                <div class="py-5">
                  <a href="/" class="btn-primary btn-size-sm">Home</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      

      
      </main>


    {{ partial "footer.html" . }}
    {{ partial "foot.html" . }}
  </div>
</body>
</html>



