{{ define "main" }}



  <div class="startingModal-wrapper">
    {{ partial "modals/startingModal.html" . }}
  </div>

  <div class="joinRoomModal-wrapper active d-none">
    {{ partial "modals/joinRoomModal.html" . }}
  </div>


  <div class="gameUI-wrapper d-none">
    {{ partial "game-ui.html" . }}
  </div>


  <div class="moveOrUnfloodModal-wrapper d-none">
    {{ partial "modals/moveOrUnfloodModal.html" . }}
  </div>


  <div class="forceActionDiscard-wrapper d-none">
    {{ partial "modals/forceActionDiscard.html" . }}
  </div>



  

{{ end }}