{{ define "main" }}
  <!-- <div id="home-container">
      <main id="home-main">

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
       
              <section class="container">
                <div class="row">
                  <div class="col-4">
                    <h1>Col-1</h1>
                  </div>
                  <div class="col-4">
                    <h1>Col-2</h1>
                  </div>
                  <div class="col-4">
                    <h1>Col-3</h1>
                  </div>
                </div>
              </section> 

          

      </main>
  </div> -->

{{ end }}
